@charset "utf-8";
@import url("layout.css");


/* 
  button Style
*/
.btn_box {padding:50px 0;}

.btn_more {font-family:'Noto Sans Medium';font-size:14px;line-height:1.6;color:#010101;}
.btn_more:before {display:inline-block;content:'';width:25px;height:4px;margin-right:10px;background:#00853e;vertical-align:middle;transition:margin .4s;}
.btn_more:hover:before, .btn_more.hover:before {margin-right:15px;}

.btn_square {display:inline-block;width:70px;height:70px;color:#fff;background:#0e9b50;box-shadow:rgba(0,0,0,0.2) 10px 10px 30px;}
.btn_square span {position:relative;display:block;text-align:center;}
.btn_square span:before, .btn_square span:after {display:inline-block;content:'';position:absolute;}
.btn_square span:before {top:35px;left:16px;width:24px;height:1px;background:#fff;}
.btn_square span:after {top:30px;left:45px;border:5px solid #fff;border-top-color: transparent;border-bottom-color: transparent;border-right-color: transparent;}

.btn_type_border {display:inline-block;width:280px;height:50px;border:1px solid #063c6d;color:#272727;line-height:50px;text-align:center;transition:all .4s;}
.btn_type_border:hover {background:#063c6d;color:#fff;}
.btn_type_border:before {display:inline-block;content:'';width:25px;height:4px;margin-right:15px;background:#00853e;vertical-align:middle;transition:all .4s;}
.btn_type_border:hover:before {background:#fff;}


/* 
  image icon Style 
*/
.imgIcon {    
    position: relative;
    display: inline-block;
}
.imgIcon:after { 
    content: "";
    display: inline-block;
    /*background: url(../img/common/icon.png) no-repeat;  */
}
.imgIcon.icon-overview-1:after { 
  width:93px; 
  height: 70px; 
  background-position: 0 -129px;
}




/*
  검색바
*/
.select_box_top { text-align: right;}
.select_box_top * {vertical-align: middle;}
.select_box_top > span { display: inline-block;}
.select_box_top .select { font-size: 0;}
.select_box_top .select .select-wrapper:before {top: 14px;}
.select_box_top .select select {height:50px; min-width: 190px;}
.select_box_top .search_in {width:400px; position: relative; border-bottom:1px solid #ddd;}
.select_box_top .search_in .placeholder {display: inline-block;}
.select_box_top .search_in .placeholder label {font-size: 16px; top: 13px; color: #777;}
.select_box_top .search_in .placeholder input { height: 50px; line-height: 50px; width: 340px; border:0; font-size:16px;}
.select_box_top .search_in .btn {color:transparent; display: inline-block; padding: 10px;}
.select_box_top .search_in .btn:before {
  content: "";
    position: absolute;
    top: 10px;
    right: 11px;
    text-indent: 100%;    
    white-space: nowrap;
    overflow: hidden;
    width: 21px;
    height: 21px;
    background: url(../img/common/icon.png) no-repeat;
    background-position: -478px -92px;
}

/*
  thumnail list
*/
ul.thumnail_list {overflow:hidden;margin:0 -1px;}
ul.thumnail_list>li {float:left;width:33.33333%;margin-bottom:60px;}
ul.thumnail_list>li:nth-child(3n+1) {clear:both;}
ul.thumnail_list>li .thumnail_box {overflow:hidden;padding:0 1px;}
ul.thumnail_list>li .thumnail_box .thumnail {position:relative;padding-top:30px;}
ul.thumnail_list>li .thumnail_box .box_label {display:block;position:absolute;top:0;left:-1px;width:90px;height:90px;font-family:'Noto Sans Medium';font-size:17px;color:#fff;line-height:90px;text-align:center;z-index:1;}
ul.thumnail_list>li:nth-child(3n) .thumnail_box .box_label {color:#063c6d;border:1px solid #063c6d;background:#fff;}
ul.thumnail_list>li:nth-child(3n+1) .thumnail_box .box_label {background:#107bbd;}
ul.thumnail_list>li:nth-child(3n+2) .thumnail_box .box_label {background:#063c6d;}
ul.thumnail_list>li .thumnail_box .thum_box {position:relative;width:100%;height:250px;overflow:hidden;margin-left:-1px;margin-bottom:25px;}
ul.thumnail_list>li .thumnail_box .thum_box img {display:inline-block;position:absolute;left:50%;top:50%;height:100%;width:auto;-webkit-transform: translate(-50%,-50%);-ms-transform: translate(-50%,-50%);   transform: translate(-50%,-50%);}
ul.thumnail_list>li .thumnail_box .txt {font-size:16px;line-height:1.4;}


/*
  tab
*/
.type_tab {width: 100%;overflow: hidden;}
.type_tab li {display: block; float: left;}
.type_tab li a {display: block;text-align: center;background: #fff;padding: 16px 0;margin-left: -1px;font-size: 16px;border:1px solid #ccc;border-bottom:1px solid #666;color: #262626;cursor:pointer;}
.type_tab li:first-child a { margin-left: 0;}
.type_tab li.on a {color: #fff; background: #063c6d; border-color:#063c6d;}


/* 공통 아이템 요소들 
*********************/
.btn_navy {background: #002f7b; color: #fff !important; padding: 0.8rem 1.8rem; font-size: 0.85rem; transition: all .2s;}
.btn_navy:hover {background: #111;}
.btn_navy * {vertical-align: top;}
.btn_navy i { margin-left: 5px;}

.bg_tit {position: relative; padding-left: 4rem;}
.bg_tit span {position: relative; z-index: 2;}
.bg_tit::before {  
  content: "";  
  position: absolute;
  left: 0;
  bottom: 0;
  width: 300px;
  height: 18px;
  background: #edecea; 
  z-index: 1;
}
.bg_tit::after {  
  content: "";  
  position: absolute;
  left: 0;
  bottom: 0;
  height: 10px;
  width: 228px;
  background: #e1d7c5;
  z-index: 1;
}


.btn_arrow {position: relative; padding: 1rem 70px 1rem 2rem;}
.btn_arrow::before {
  content: "";  
  position: absolute;
  right: 10px;
  bottom: 50%;  
  width: 20px;
  background: #fff;
  z-index: 1;
  height: 1px;
  transform: rotate(45deg);
  -ms-transform: rotate(45deg);
}
.btn_arrow::after {
  content:"";  
  position: absolute;
  right: 13px;
  top: 50%;  
  width: 40px;
  margin-top: 6px;  
  display: inline-block;
  z-index: 1;
  height: 1px;
  background: #fff;
}

.btn_bg_arrow {font-size:0.8rem; background: #000; border:1px solid #000; color: #fff !important;}
.btn_line_arrow {font-size:0.8rem; background: #fff; border:1px solid #000;}
.btn_line_arrow::after {background: #000;}
.btn_line_arrow::before {background: #000;}

.layout_body .grid_box h3 {font-size: 1.8rem; text-align: center; padding-bottom: 1rem; font-family: 'Noto Sans Medium'; color: #555555;}
.layout_body .grid_box h3 .tit_summary {font-size: 0.95rem; padding-top: 0.8rem; font-family: 'Noto Sans';}


.icomap {    
    position: relative;
    display: inline-block;
}
.icomap:after { 
    content: "";
    display: inline-block;
    background: url(../img/common/page_icon.png) no-repeat;  
    width:62px; 
    height:62px;
    vertical-align: middle;
}
.icomap.ico_map_subway:after {background-position: 0 -55px;}
.icomap.ico_map_bus:after {background-position: -65px -55px;}
.icomap.ico_map_train:after {background-position: -130px -55px;}



/* 도서관 안내 
*******************/
.library {color: #222222;}
.library_con {}
.library_con .library_txt {padding: 0 4rem;}
.library_con .library_txt dl {}
.library_con .library_txt dl dt {font-size: 1.6rem; letter-spacing: -1px;}
.library_con .library_txt dl dt strong {font-family:'Nanum Myeongjo Bold';}
.library_con .library_txt dl dd {font-size: 0.9rem; padding:1.5rem 0; border-top: 1px solid #000; margin-top: 1.5rem; line-height: 1.7;}

.library_gal {padding: 1rem 0 2rem;}

.library_con .library_guide {padding: 1rem 4rem;}
.library_con .library_guide .tit {text-align:center; font-family:'Nanum Myeongjo Bold'; letter-spacing: -1px; padding: 1rem 0;}
.library_con .library_guide .bl_dot li {font-size: 0.9rem; padding-top: 3px; padding-bottom: 3px; padding-left: 0.5rem;}
.library_con .library_guide .bl_dot li::before {top: 13px;}

.library_con .slick-arrow {
  display: block; 
  width: 54px; 
  height: 54px; 
  background: #fff; 
  position: absolute; 
  z-index: 41; 
  top: 50%; 
  margin-top: -27px; 
  cursor: pointer;
  font-size: 0;
  color:transparent;
  font-family:Linearicons-Free;
  speak:none;
  font-weight:400;
  font-variant:normal;
  text-transform:none;
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale;
  vertical-align: top;
}
.library_con .slick-arrow.slick-prev {left: 0;}
.library_con .slick-arrow.slick-next {right: 0;}
.library_con .slick-arrow.slick-prev::before {content: "\e875"; color: #000; font-size: 1.6rem; text-indent: -2px; display: inline-block;}
.library_con .slick-arrow.slick-next::before {content: "\e876"; color: #000; font-size: 1.6rem; text-indent: 2px; display: inline-block;}

.gal_view {padding:0 0 1rem; line-height: 0;}
.gal_thumb {text-align: center;}
.gal_thumb > ul {display: inline-block;}
.gal_thumb > ul li {padding: 6px;}
.gal_thumb > ul li a {position: relative; display: block; width: 148px;} /* local 에서 가로값 인식 안되서 임시삽입 */
.gal_thumb a::before {
  content: "";
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: 55;  
  background:rgba(0,0,0,.3);
  transition: all .3s;
  border:4px solid transparent;
}

.gal_thumb .slick-current a::before {
  background: none;
  border:4px solid #c5a86f;
}
  
.library_con .button_group {padding: 3rem 0;}
.space_con .button_group a {margin:0 .5rem;}


/* 문화나눔 
*********************/
.numum_con {display: table; width: 100%; padding: 1.8rem 0;}
.numum_con .comimg {display: table-cell; width: 50%; vertical-align: top;}
.numum_con .comimg img {max-width: 100%;}
.numum_con dl {}
.numum_con dl dt {font-size: 1.4rem; color: #222222; padding: 1rem 1.2rem; font-family: 'Nanum Myeongjo Bold';  border-bottom: 1px solid #000; letter-spacing: -2px;}
.numum_con dl dt strong {  
  color: #8c1e01; 
  text-transform: uppercase;    
  font-family: 'Noto Sans Medium';
}
.numum_con dl dd {font-size: 0.85rem; color: #222; padding: 1rem 1.2rem; line-height: 1.8;}
.numum_con dl dd.hashtxt { color: #777777; font-size: 16px;}
.numum_con .contxt {display: table-cell; width: 50%; vertical-align: middle;}
.numum_con.cont_left .contxt {text-align: right;}
.numum_con.cont_right .contxt {text-align: left;}


/* 오시는 길 
*********************/
.location_map {}
.location_map .mapview {height: 442px; margin-top: 2rem; background: #efefef;}
.location_map .mapcon_box {
  margin: 3rem 0; 
  border-top: 3px solid #b5b6b6; 
  border-bottom: 1px solid #b5b6b6; 
  padding: 2rem 0;
  display: table; 
  width: 100%;
}
.location_map .mapcon_box .left_sec {display: table-cell; vertical-align: middle; padding-right: 2rem;}
.location_map .mapcon_box .right_sec {display: table-cell; min-width: 220px; vertical-align: bottom; text-align: right;}

.location_map .mapcon_box dl {}
.location_map .mapcon_box dl dt {font-size: 1.1rem; color: #555; font-family: 'Noto Sans Medium';}
.location_map .mapcon_box dl dt strong {display: block; font-size: 1.2rem;}
.location_map .mapcon_box dl dd {font-size: 0.9rem; padding-top: 0.5rem;}
.location_map .mapcon_box dl dd strong {}

.location_map .mapcon_box .right_sec a.btn_bg_arrow {width: 100%; text-align: left;}
.location_map .mapguide {}
.location_map .mapguide ul {}
.location_map .mapguide ul li {background: #f4f4f4; border-bottom: 1px solid #fff;}
.location_map .mapguide ul li dl {display: table; width: 100%; table-layout: fixed;}
.location_map .mapguide ul li dl dt {display: table-cell; font-size: 1rem; text-align: left; width: 210px; vertical-align: middle; padding: 0.7rem 2rem; font-family: 'Noto Sans Medium';}
.location_map .mapguide ul li dl dt i {display: inline-block; margin-right: 1.5rem; vertical-align: middle;}
.location_map .mapguide ul li dl dd {display: table-cell; vertical-align: middle;}
.location_map .mapguide ul li dl dd p {font-size: 0.85rem;}
.location_map .foot_summary {font-size: 0.85rem; padding: 1rem 0;}


/* 공간소개
*********************/
.space_table {padding: 1rem 0;}



/* Main
**********************/
.main_container {max-width: 1600px; margin:0 auto; position: relative;}
.visual_sec {position: relative;}
.visual_sec .visual_slide {}
.visual_sec .visual_slide .slide_con {position: relative; background: #583d23;}
.visual_sec .visual_slide .slide_con .mobj_1 {position: absolute; left: 93px; top: 113px; z-index: 31;}
.visual_sec .visual_slide .slide_con .mobj_2 {position: absolute; left: 185px; top: 236px; z-index: 31;}
.visual_sec .visual_slide .slide_con .img {}
.visual_sec .visual_slide .slide_con .bg {
  background: -webkit-linear-gradient(left, rgba(88,61,35,1) 0%, rgba(88,61,35,1) 33%, rgba(88,61,35,0) 100%);  
  background: -ms-linear-gradient(left, rgba(88,61,35,1) 0%, rgba(88,61,35,1) 33%, rgba(88,61,35,0) 100%);
  background: linear-gradient(to right, rgba(88,61,35,1) 0%, rgba(88,61,35,1) 33%, rgba(88,61,35,0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#583d23', endColorstr='#583d23', GradientType=1);  
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 30;
}
.visual_sec .visual_slide .slide_con .img img {max-width: 100%;}
.visual_sec .control {position: absolute; right: 0; bottom: 0; background: #fff; padding: 1rem 3rem;}
.visual_sec .control ul {display: table; width: 170px; table-layout: fixed; position: relative;}
.visual_sec .control ul::before {
  content: "";
  width: 2px;
  height: 13px;
  background: #ddd;
  left: 50%;
  top: 50%;
  margin-top: -7px;
  position: absolute;
}
.visual_sec .control ul li {display: table-cell; width: 50%; text-align: right;}
.visual_sec .control ul li a {display: block; color: transparent; font-size: 0; border-bottom: 2px solid #e3e3e3; padding: 1rem 0; transition: all .2s;}
.visual_sec .control ul li a i {font-size: 1rem; color: #5a5a5a;}
.visual_sec .control ul li:first-child a {text-align: left;}
.visual_sec .control ul li a:hover {border-bottom-color:#002f7b;}

.news_letter {background: url(../img/main/news_letter_bg.jpg) no-repeat center 0; background-size: cover; padding: 4rem 0;}
.news_letter .news_letter_tit {text-align: center; padding: 1rem 0; font-size: 1.6rem; color: #fff; /*font-family: 'Nanum Myeongjo';*/}
.news_letter .news_letter_tit .ico-square {display: inline-block; padding:0 10px;}
.news_letter .news_letter_tit .ico-square::before {
  content: "";
  width: 6px;
  height: 6px;
  transform: rotate(45deg);
  background: #fff;
  display: inline-block;
  vertical-align: middle;
}
.news_letter .news_letter_tit span {font-size: 1rem; display: block; padding-top: 10px;}
.news_letter .form_con {position: relative; padding-right: 270px; margin-top: 2rem;}
.news_letter .form_con dl {display: table; width:100%;}
.news_letter .form_con dl dt {display: table-cell; vertical-align: middle; color: #fff; font-size: 1rem; width:120px; padding-left: 15px; text-align: center;}
.news_letter .form_con dl dd {display: table-cell;}
.news_letter .form_con dl dd .placeholder {width: 100%;}
.news_letter .form_con dl dd .placeholder input {width: 100%; height: 60px;}
.news_letter .form_con dl dd .placeholder label {top:15px;}
.news_letter .form_con .go_submit {position: absolute; right: 0; top: 0;}
.news_letter .form_con .go_submit a {display: block; width: 240px; font-size: 1rem; text-align: center; background: #c5a86f; height:60px; line-height: 60px; color: #fff;}
.news_letter .agree_btm {padding-left: 10px; font-size: 1rem; color: #fff; padding-top: 1.5rem;}
.news_letter .agree_btm label {vertical-align: top;}
.news_letter .agree_btm a {color: #fff; display: inline-block; font-size: 0.9rem; margin-left: 20px; position: relative; padding: 0 0 3px;}
.news_letter .agree_btm a::before {
  content: "";
  background: #fff;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
}
.news_letter .agree_btm a i {font-size: 0.87rem;}

.main_map {}
.main_map .main_container {display: table; width: 100%;}
.main_map .map_info {display: table-cell; width: 462px; vertical-align: middle; padding: 3rem 0 2rem;}
.main_map .map_info .map_info_tit {text-align: left; padding: 1rem 0; font-size: 1.4rem; color: #222;}
.main_map .map_info .map_info_tit .ico-square {display: inline-block; padding:0 10px;}
.main_map .map_info .map_info_tit .ico-square::before {
  content: "";
  width: 4px;
  height: 4px;
  transform: rotate(45deg);
  background: #222222;
  display: inline-block;
  vertical-align: middle;
}

.main_map .map_info ul {}
.main_map .map_info ul li {padding: 5px 0;}
.main_map .map_info dl {}
.main_map .map_info dl dt {display: table-cell; white-space: nowrap; font-size: 0.85rem; color: #222; font-size: 0.87rem; padding-right: 10px;}
.main_map .map_info dl dd p {padding-top: 10px;}
.main_map .map_info dl dd p * {vertical-align: middle;}
.main_map .map_info dl dd p a {display: inline-block; border-bottom: 1px solid #222; padding-bottom: 5px;}
.main_map .map_info dl dd {display: table-cell; font-size: 0.85rem; color: #222; padding-left: 20px; word-break: break-all; position: relative;}
.main_map .map_info dl dd::before {
  content: "";
  width: 4px;
  height: 4px;
  transform: rotate(45deg);
  background: #03317d;
  display: inline-block;
  position: absolute;
  left: 0;
  top: 8px;
}
.main_map .map_info dl dd::after {
  content: "";
  width: 4px;
  height: 4px;
  transform: rotate(45deg);
  background: #b5b6b6;
  display: inline-block;
  position: absolute;
  left: 0;
  top: 12px;
}
.main_map .map_info dl dd a {}
.main_map .map_info dl dd a i {}
.main_map .map_info dl dd a.btn_cal::after {
  content: "";
}
.main_map .map_info dl dd.phone_num {font-size: 1rem;}
.main_map .map_view {display: table-cell; background: #efefef; position: relative;}
.main_map .map_view .map_view_box { position: absolute; left: 30px; top: 30px; background: #fff; padding: 2rem;}
.main_map .map_view .map_view_box dt {font-size: 1.4rem; color: #222; padding: 0.5rem 0;}
.main_map .map_view .map_view_box dd {font-size: 0.9rem; color: #222;}









@media screen and (max-width:1280px){
  .visual_slide .txt {margin-top:-230px;padding:0 40px;}
  .visual_slide .txt .copy {font-size:52px;}

  .visual .box_con.box1 {margin-top:-190px;}
  .visual .box_con.box2 {margin-top:65px;}
  .visual .box_con.box3 {margin-top:65px;}

  .visual_slide .slick-arrow.slick-prev {left:40px;}
  .visual_slide .slick-arrow.slick-next {left:200px;}

  .visual .page_info {left:67px;}


}