<!DOCTYPE html>
<html lang="ko">
<head>
<title>대우 인터넷이 안될때</title>
<meta http-equiv="refresh" content="" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<!-- <meta http-equiv="refresh" content="10"> -->
<meta name="viewport" content="initial-scale=1.0, maximum-scale=5.0, minimum-scale=1.0, width=device-width" />
<link rel="stylesheet" type="text/css" href="css/style.css">
<script src="js/jquery-1.12.4.min.js"></script>
<script src="js/common_skt.js"></script>
<script src="js/slick.js"></script>
<script src="js/app.js"></script>



<script type="text/javascript">
$(document).ready(function(){
	//setInterval(schedule, 300000); // 5min
	setInterval(todyaDate, 60000);//10min 새로고침	60000=1분
	//setInterval(DataLoadUI, 600000);//10min 새로고침	60000=1분	
//	setInterval(fnTodayWeather, 300000);//5min 새로고침	60000=1분
	//setInterval(fnYesterdayWeather, 600000);//10min 새로고침 60000=1분
	$.ajaxSetup({ cache: false });

	//schedule();
	//fnTodayWeather_cookie();
	//fnYesterdayWeather();
	todyaDate();
});
</script>

</head>

<body>

	<div class="ly_container">

		<div class="calendar_con" style="visibility: hidden;" v-bind:style="'visibility: visible;'">
			<div class="month_nav">
				<a href="#" class="prev_month" @click.prevent="prevCalendar();">이전달</a>
				<span class="nowmonth_txt">{{ year }}<strong>년</strong>{{ month }}<strong>월</strong></span>
				<a href="#" class="next_month" @click.prevent="nextCalendar();">다음달</a>
			</div>

			<ul class="tab_choice">
				<li :class="{ on : mode == 'calendar' }"><a href="#" class="btn btn_round_nm" @click.prevent="changeMode( 'calendar' )"><i class="ico ico_cal_box"></i>캘린더 보기</a></li>
				<li :class="{ on : mode == 'list' }"><a href="#" class="btn btn_round_nm" @click.prevent="changeMode( 'list' )"><i class="ico ico_list_box"></i>목록 보기</a></li>
			</ul>

			<div v-if="mode == 'calendar'">
				<table class="carendar_tbl">
					<thead>
						<tr>
							<th v-for="str in week">{{ str }}</th>
						</tr>
					</thead>
					<tbody>
						<tr v-for="( arr, i ) in calendarArr" :key="i">
							<td v-for="( obj, j ) in arr" :key="j">
								<div class="date_box" :class="{ today : obj.today }" v-if="obj.day">
									<div class="data_date" :class="{ sun : j == 0 }">{{ obj.day }}</div>
									<div class="data_con" v-for="( dataObj, k ) in list[ obj.dateStr ]" :key="k" v-if="k < 2">
										<a v-bind:href="'/event/schedule_view?seq=' + dataObj.seq">
											<div class="data_cate">
												<span class="cate" :class="{ '공연' : 'cate_play', '전시' : 'cate_view' }[ dataObj.scheduleTypeName ]">{{ dataObj.scheduleTypeName }}</span>
											</div>
											<div class="data_title">{{ dataObj.title }}</div>
										</a>
									</div>
									<a href="#" class="date_more" @click.prevent="more( obj.dateStr )" v-if="list[ obj.dateStr ] && list[ obj.dateStr ].length > 2">+ 더보기</a>
								</div>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div v-else-if="mode == 'list'">
				<table class="calendar_list" v-if="total > 0">
					<colgroup>
					<col style="width: 230px;">
					</colgroup>
					<tbody>
						<tr :class="{ on: actDateStr == k }" v-for="( arr, k ) in list" :key="k" v-if="arr.length && calendarObj[ k ]">
							<th>{{ getMonthDay( calendarObj[ k ] ) }}<span>({{ calendarObj[ k ].week }})</span></th>
							<td>
								<ul>
									<li v-for="( dataObj, i ) in arr" :key="i">
										<a v-bind:href="'/event/schedule_view?seq=' + dataObj.seq">
											<div class="thumb" :style="{ backgroundImage: 'url(' + dataObj.imgThumPc + ')' }"></div>
											<div class="data_con">
												<div class="data_cate">
													<span class="cate" :class="{ '공연' : 'cate_play', '전시' : 'cate_view' }[ dataObj.scheduleTypeName ]">{{ dataObj.scheduleTypeName }}</span>
												</div>
												<div class="data_title">{{ dataObj.title }}</div>
												<div class="data_des">
													<dl class="time"><dt>시간</dt><dd>{{ dataObj.showTime }}</dd></dl>
													<dl class="location"><dt>장소</dt><dd>{{ dataObj.place }}</dd></dl>
												</div>
											</div>
										</a>
									</li>
								</ul>
							</td>
						</tr>
					</tbody>
				</table>
				<p class="calendar_empty" v-else>
					등록된 공연/문화 일정이 없습니다.
				</p>
			</div>
		</div>
		<!-- //캘린더 영역 -->

	</div>
	<!-- //ly_container  -->


	<div id="wrap">		
		<div class="left_sec">
			<div class="floor_data">
				<dl>
					<dt class="data-floor"><em>20</em>F</dt>
					<dd>
						<ul class="data-left-sec"></ul>
					</dd>
				</dl>
			</div>			
		</div>
		<div class="contents">
			<div class="top_sec">
				<div class="container" id="lay_out">
					<div class="left_date">
						<span class="date">2019. 5. 14. <strong>화요일</strong></span> 
						<span class="time"><em>PM</em> 04:34</span> 
					</div>
					<div class="weather_con">
						<!-- <div class="now_weather" id="now_today"></div> -->
					</div>
				</div>
			</div>
			<div class="body_sec">
				<div class="slide_con">					
					<ul class="c_slide"></ul>
				</div>
			</div>
		</div>
		<div class="right_sec">
			<div class="floor_data">
				<dl>
					<dt class="data-floor"><em>20</em>F</dt>
					<dd>
						<ul class="data-right-sec"></ul>
					</dd>
				</dl>
			</div>				
		</div>	
	</div>


<script type="text/javascript" src="js/vue.min.js"></script>
<script type="text/javascript" src="js/app2.js"></script>

	<script>    		

        $(function(){	
          	chkScreen();  
          	APP.Schedule.init();        
        }); 



        function DataLoadUI(){
        	// ajax
	    	$.ajax({
	    		url:"/daewoo/local/json/floor20.json",
	    		method:"GET",
	    		dataType:"jsonp",
            	jsonpCallback:"callback",
	    		success:function(result){

	    		    var resLData = result.leftData;
	    		    var resRData = result.rightData;
	    		    var resCData = result.centerData;

	    		    $(resLData).each(function(i){
                        var $leftUl = $('ul.data-left-sec');                    	
                        $leftLi = $("<li>").html(resLData[i].dept);
                        $leftUl.append($leftLi);                       
	                });

	                $(resRData).each(function(j){
                        var $rightUl = $('ul.data-right-sec');                    	
                        $rightLi = $("<li>").html(resRData[j].dept);
                        $rightUl.append($rightLi);                       
	                });	    		   	

	                $(resCData).each(function(v){
	                	var $centerUl = $('ul.c_slide');           
                        $centerLi = $("<li data-time='"+ resCData[v].time +"'>").html("<img src='img/center/"+resCData[v].url+".jpg'>");
                        $centerUl.append($centerLi);
	                });

	                var $slide = $('.c_slide');
	                $slide.slick({                                  
		                infinite: true,
		                autoplay: true,
		                fade: true,                
		                arrows:false,
		                draggable :true,
		                autoplaySpeed: 5000,
		                speed: 600,
		                dots: false,
		                focusOnSelect: false,
		                responsive:false               
		            }).on("afterChange", function(e, slick) {
				        slideTime = $('div[data-slick-index="'+ slick.currentSlide + '"]').find("li").data("time");			        
				        $slide.slick("setOption", "autoplaySpeed", slideTime);
				    });
	    		},
	    		error:function(xhr, status, error){
	    			console.log(xhr);
	    		}
	    	});	
        }

		
		var chkScreen = function(){
            var winW = $(window).width();  
            var targetW = winW-($(".left_sec").width())-($(".right_sec").width())
            var slideCon = $(".slide_con");
            slideCon.css('width',targetW);
        };

    	$(window).resize(chkScreen);

    </script>

</body>
</html>